@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red-text: #d73a1e;
  --purple-text: #6c537f;
  --gray-text: #666666;
  --purple-menu: #523468;
  --li-selected: #422a53;
  --cream-background: #e6e6e6;
  --btn-orange: #d73a1e;
  --orange-text: #d73a2a;
}

header {
  padding: 10px 0;
}

.headerContent {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menuContent {
  flex-grow: 1;
}

.menuContent img {
  width: 10vw;
}

.menu {
  display: none;
}

.logoContent {
  text-align: center;
  flex-grow: 3;
  color: var(--red-text);
}

.logoContent h1 {
  font-size: 1.5em;
}

.logoContent p {
  color: var(--purple-text);
}

.bagContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  color: var(--gray-text);
}

.bagContent img {
  width: 50%;
}

.bagContent h1 {
  font-size: 1em;
}

#cartCount {
  color: var(--red-text);
}

.messageAlert {
  background-color: var(--cream-background);
  color: var(--gray-text);
  padding: 10px;
  font-size: 0.5em;
  font-style: italic;
  text-align: center;
}
